<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm bg-brand p-4 rounded-lg">
    <%= image_tag "oba_logo.png", alt: "OneBusAway", class: "mx-auto h-10 w-auto" %>
    <h2 class="mt-10 text-center text-2xl font-bold text-white">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for :session, url: login_path do |f| %>
      <div class="space-y-6">
        <div>
          <label for="session_email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <%= f.email_field :email, required: true, autofocus: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="session_password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <%= f.password_field :password, required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-brand px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-brand-tertiary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand">Sign in</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
