<p>
  Hi <%= @admin.name %> - Please follow this link to set a new password on your OneBusAway Alerts account:
</p>

<p>
  <a href='<%= activate_admin_url(code: @admin.reset_digest) %>'><%= activate_admin_url(code: @admin.reset_digest) %></a>
</p>
