<% form = local_assigns[:form] %>
<div>
  <h2 class="h2">Radio List</h2>
  <%= form.hidden_field :type, value: 'radio' %>
  <%= render Forms::TextFieldComponent.new(form:, method: :label_text) %>
  <%= render Questions::OptionsBuilderComponent.new(options: form.object.options) %>
</div>
