<% question = local_assigns[:question] %>

<div>
  <div>
    <label class="font-medium text-sm">
      <%= question.content.label_text %>:
    </label>
  </div>
  <div class="flex flex-col gap-y-2">
    <% question.content.options.each do |r| %>
    <label class="font-medium text-sm block">
      <%= radio_button_tag question.position.to_s, r %>
      <%= r %>
    </label>
    <% end %>
  </div>
</div>