<% question = local_assigns[:question] %>

<div>
  <div>
    <label class="font-medium text-sm">
      <%= question.content.label_text %>:
    </label>
  </div>
  <div>
    <input type="text" class="p-1 text-sm rounded-sm border-slate-400" />
  </div>
</div>