<div class="flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
          <% columns.each do |c| %>
            <%= render c %>
          <% end %>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <%= tbody %>
        </tbody>
      </table>
    </div>
  </div>
</div>