<%= form_with(
  model: @study,
  url: @study.persisted? ? admin_study_path(@study) : admin_studies_path(@study)
) do |f| %>
  <div class="space-y-4">
    <%= render Forms::TextFieldComponent.new(form: f, method: :name, autofocus: true) %>
    <%= render Forms::TextAreaComponent.new(form: f, method: :description) %>
    <%= render Forms::ButtonBarComponent.new(f) %>
  </div>
<% end %>