---
http_interactions:
- request:
    method: get
    uri: https://api.pirateweather.net/forecast/fake_key/47.63671875,-122.6953125?exclude=minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 35bcc8527c7e4b4aa32894c1cb761085-9594c656e2f94f01
      Baggage:
      - sentry-trace_id=35bcc8527c7e4b4aa32894c1cb761085,sentry-environment=test,sentry-public_key=ef3d582c01e24c809cd0196878ca3b2b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '25000'
      Ratelimit-Remaining:
      - '18460'
      X-Ratelimit-Remaining-Month:
      - '18460'
      X-Ratelimit-Limit-Month:
      - '25000'
      Ratelimit-Reset:
      - '1970889'
    body:
      encoding: UTF-8
      string: '{"latitude":47.63671875,"longitude":-122.6953125,"timezone":"America/Los_Angeles","offset":-7.0,"elevation":0,"currently":{"time":1715142660,"summary":"Clear","icon":"clear-night","nearestStormDistance":175.75,"nearestStormBearing":57.0,"precipIntensity":0.0,"precipProbability":0.0,"precipIntensityError":0.0,"precipType":"none","temperature":48.94,"apparentTemperature":50.18,"dewPoint":42.98,"humidity":0.75,"pressure":1019.52,"windSpeed":2.49,"windGust":4.19,"windBearing":74.0,"cloudCover":0.07,"uvIndex":0.02,"visibility":10.0,"ozone":415.59},"hourly":{"summary":"Clear","icon":"clear-day","data":[{"time":1715140800,"icon":"clear-night","summary":"Clear","precipIntensity":0.0,"precipProbability":0.0,"precipIntensityError":0.0,"precipAccumulation":0.0,"precipType":"none","temperature":49.96,"apparentTemperature":51.31,"dewPoint":41.18,"humidity":0.73,"pressure":1020.16,"windSpeed":2.68,"windGust":4.47,"windBearing":0.0,"cloudCover":0.05,"uvIndex":0.03,"visibility":10.0,"ozone":415.33},{"time":1715144400,"icon":"clear-night","summary":"Clear","precipIntensity":0.0,"precipProbability":0.0,"precipIntensityError":0.0,"precipAccumulation":0.0,"precipType":"none","temperature":48.04,"apparentTemperature":49.06,"dewPoint":40.84,"humidity":0.77,"[...]
