<div class='row'>
  <div class='col-sm-12'>
    <p>
      Make a donation: <%= link_to "Donate securely with Stripe", "https://donate.stripe.com/cN2dUHej01k46Mo288" %>
    </p>
    <p>
      Manage a recurring donation: <%= link_to "Stripe Billing Portal", "https://billing.stripe.com/p/login/aEU8yVeeIezBd5C3cc" %>
    </p>

    <p>
      Need a donation receipt or have other questions about your donation? Email us at <%= link_to "info@onebusaway.org", "mailto:info@onebusaway.org?subject=Donation Assistance" %>
    </p>
  </div>
</div>