---
http_interactions:
- request:
    method: get
    uri: http://api.pugetsound.onebusaway.org/api/where/agencies-with-coverage.json?app_uid=C071187D-67E0-458C-A1DA-CADE062AE667&app_ver=20170105.12&key=org.onebusaway.iphone&version=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '926510594'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1530832981240,"data":{"limitExceeded":false,"list":[{"agencyId":"98","lat":47.6470785,"latSpan":0.06330499999999972,"lon":-122.296449,"lonSpan":0.07930600000000254},{"agencyId":"99","lat":47.115176,"latSpan":0.09129599999999982,"lon":-122.5614875,"lonSpan":0.1564649999999972}],"references":{"agencies":[{"disclaimer":"","email":"","fareUrl":"","id":"98","lang":"en","name":"Seattle Childrens Hospital","phone":"","privateService":false,"timezone":"America/Los_Angeles","url":"http://www.csched.com"},{"disclaimer":"","email":"","fareUrl":"","id":"99","lang":"EN","name":"GO Transit","phone":"+12539663939","privateService":false,"timezone":"America/Los_Angeles","url":"http://GOLewisMcChord.com"}],"routes":[],"situations":[],"stops":[],"trips":[]}},"text":"OK","version":2}'
  recorded_at: Thu, 05 Jul 2018 23:12:00 GMT
- request:
    method: get
    uri: http://api.pugetsound.onebusaway.org/api/where/vehicles-for-agency/98.json?app_uid=C071187D-67E0-458C-A1DA-CADE062AE667&app_ver=20170105.12&key=org.onebusaway.iphone&version=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '800165254'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1530832320538,"data":{"limitExceeded":false,"list":[{"lastLocationUpdateTime":1530832300000,"lastUpdateTime":1530832310000,"location":{"lat":47.662601470947266,"lon":-122.28482818603516},"phase":"in_progress","status":"SCHEDULED","tripId":"98_543163-SCH-1805-SCH-Weekday-60","tripStatus":{"activeTripId":"98_543163-SCH-1805-SCH-Weekday-60","blockTripSequence":3,"closestStop":"98_755000","closestStopTimeOffset":18,"distanceAlongTrip":2902.7397923613007,"frequency":null,"lastKnownDistanceAlongTrip":0,"lastKnownLocation":{"lat":47.662601470947266,"lon":-122.28482818603516},"lastKnownOrientation":0,"lastLocationUpdateTime":1530832300000,"lastUpdateTime":1530832310000,"nextStop":"98_755000","nextStopTimeOffset":18,"orientation":270.56078906913245,"phase":"in_progress","position":{"lat":47.66251930394509,"lon":-122.28476803070745},"predicted":true,"scheduleDeviation":68,"scheduledDistanceAlongTrip":2902.7397923613007,"serviceDate":1530774000000,"situationIds":[],"status":"SCHEDULED","totalDistanceAlongTrip":2994.236229745071,"vehicleId":"98_223"},"vehicleId":"98_223"},{"lastLocationUpdateTime":1530665239000,"lastUpdateTime":1530665239000,"location":{"lat":47.66252136230469,"lon":-122.28517150878906},"phase":"in_progress","status":"SCHEDULED","tripId":"","tripStatus":null,"vehicleId":"98_213"},{"lastLocationUpdateTime":1530832301000,"lastUpdateTime":1530832311000,"location":{"lat":47.64949035644531,"lon":-122.30328369140625},"phase":"in_progress","status":"SCHEDULED","tripId":"98_543187-SCH-1805-SCH-Weekday-60","tripStatus":{"ac[...]
- request:
    method: get
    uri: http://api.pugetsound.onebusaway.org/api/where/vehicles-for-agency/99.json?app_uid=C071187D-67E0-458C-A1DA-CADE062AE667&app_ver=20170105.12&key=org.onebusaway.iphone&version=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '1972976069'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":200,"currentTime":1530832322860,"data":{"limitExceeded":false,"list":[],"outOfRange":false,"references":{"agencies":[],"routes":[],"situations":[],"stops":[],"trips":[]}},"text":"OK","version":2}'
  recorded_at: Thu, 05 Jul 2018 23:12:02 GMT
recorded_with: VCR 4.0.0
