---
http_interactions:
- request:
    method: get
    uri: http://m.soundtransit.org/schedules/alerts.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://m.soundtransit.org/schedules/alerts.xml
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Jun 2018 18:36:04 GMT
- request:
    method: get
    uri: https://m.soundtransit.org/schedules/alerts.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Drupal-Cache:
      - MISS
      Content-Language:
      - en
      Etag:
      - '"1529949889-1"'
      Last-Modified:
      - Mon, 25 Jun 2018 18:04:49 GMT
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>
<rss xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" version=\"2.0\" xml:base=\"https://m.soundtransit.org/\">
  <channel>
    <title>Rider Alerts</title>
    <description>Latest Sound Transit rider alerts for all service modes.</description>
    <link>https://m.soundtransit.org/</link>
    <atom:link rel=\"self\" href=\"https://m.soundtransit.org/schedules/alerts.xml\"/>
    <language>en</language>
    <copyright>© Sound Transit</copyright>
    <pubDate>Mon, 25 Jun 2018 07:08:39 -0700</pubDate>
    <lastBuildDate>Mon, 25 Jun 2018 07:08:39 -0700</lastBuildDate>
    <item>
      <title>Link light rail - Announcement - Normal operations</title>
      <link>https://m.soundtransit.org/node/18457</link>
      <description>&lt;p&gt;&lt;p&gt;&amp;nbsp;Link light rail has resumed normal operations at all stations with service delays.&lt;/p&gt;&lt;/p&gt;
&lt;p&gt;&lt;p&gt;Thank you for your patience.&lt;/p&gt;&lt;/p&gt;
</description>
      <pubDate>Mon, 25 Jun 2018 07:00:00 -0700</pubDate>
      <source url=\"https://m.soundtransit.org/schedules/alerts.xml\">Rider Alerts</source>
    </item>
    <item>
      <title>512 - Delay - Due to traffic</title>
      <link>https://m.soundtransit.org/node/18456</link>
      <description>&lt;p&gt;&lt;p&gt;ST Express route 512 is experiencing delays of approximately 30 minutes due to heavy traffic.&lt;/p&gt;&lt;/p&gt;
</description>
      <pubDate>Sat, 23 Jun 2018 18:26:00 -0700</pubDate>
      <source url=\"https://m.soundtransit.org/schedules/alerts.xml\"[...]
