---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/d696019373dc132e9a0c419f4b131bcd/47.63671875,-122.6953125?exclude=minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 945ms
      X-Forecast-Api-Calls:
      - '155'
      X-Response-Time:
      - 32.896ms
    body:
      encoding: UTF-8
      string: '{"latitude":47.63671875,"longitude":-122.6953125,"timezone":"America/Los_Angeles","currently":{"time":1625926547,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":44,"nearestStormBearing":150,"precipIntensity":0,"precipProbability":0,"temperature":58.72,"apparentTemperature":58.74,"dewPoint":57.28,"humidity":0.95,"pressure":1021.8,"windSpeed":3.34,"windGust":4.22,"windBearing":141,"cloudCover":0.44,"uvIndex":1,"visibility":10,"ozone":302.5},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1625925600,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":58.25,"apparentTemperature":58.28,"dewPoint":57.06,"humidity":0.96,"pressure":1021.7,"windSpeed":3.24,"windGust":4.27,"windBearing":142,"cloudCover":0.44,"uvIndex":0,"visibility":10,"ozone":302.7},{"time":1625929200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":60.18,"apparentTemperature":60[...]
