---
http_interactions:
- request:
    method: get
    uri: https://api.pirateweather.net/forecast/fake_key/47.63671875,-122.6953125?exclude=minutely,daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 6cec7a31cd98441492189db874379277-b03dd1472acb4965
      Baggage:
      - sentry-trace_id=6cec7a31cd98441492189db874379277,sentry-environment=test,sentry-public_key=ef3d582c01e24c809cd0196878ca3b2b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Month:
      - '25000'
      Ratelimit-Reset:
      - '1902524'
      Ratelimit-Limit:
      - '25000'
      Ratelimit-Remaining:
      - '23233'
      X-Ratelimit-Remaining-Month:
      - '23233'
      X-Amzn-Requestid:
      - 8ebad50a-b6e5-464f-a464-c301b75bcaaf
      X-Amzn-Remapped-Content-Length:
      - '0'
      X-Amz-Executed-Version:
      - '76'
    body:
      encoding: UTF-8
      string: '{"latitude": 47.63671875, "longitude": -122.6953125, "timezone": "America/Los_Angeles",
        "offset": -8.0, "elevation": 0, "currently": {"time": 1699486260, "summary":
        "Partly Cloudy", "icon": "partly-cloudy-day", "nearestStormDistance": 0, "nearestStormBearing":
        0, "precipIntensity": 0.0, "precipProbability": 0.0, "precipIntensityError":
        0.0, "precipType": "none", "temperature": 52.09, "apparentTemperature": 52.72,
        "dewPoint": 46.13, "humidity": 0.83, "pressure": 1021.3, "windSpeed": 2.74,
        "windGust": 3.77, "windBearing": 165, "cloudCover": 0.39, "uvIndex": 0.58,
        "visibility": 10.0, "ozone": 316.68}, "hourly": {"summary": "Cloudy", "icon":
        "cloudy", "data": [{"time": 1699484400, "icon": "partly-cloudy-day", "summary":
        "Partly Cloudy", "precipIntensity": 0.0, "precipProbability": 0.0, "precipIntensityError":
        0.0, "precipAccumulation": 0.0, "precipType": "none", "temperature": 52.66,
        "apparentTemperature": 53.01, "dewPoint": 45.46, "humidity": 0.76, "pressure":
        1021.0, "windSpeed": 3.1, "windGust": 4.47, "windBearing": 172, "cloudCover":
        0.5, "uvIndex": 1.31, "visibility": 10.0, "ozone": 317.37}, {"time": 1699488000,
        "icon": "partly-cloudy-day", "summary": "Partly Cloudy", "precipIntensity":
        0.0, "precipProbability": 0.0, "precipIntensityError": 0.0, "precipAccumulation":
        0.0, "[...]
