<% form = local_assigns[:form] %>
<div>
  <h2 class="h2">New Radio List</h2>
  <%= form.hidden_field :type, value: 'radio' %>
  <%= render Forms::TextFieldComponent.new(form:, method: :label_text) %>
  <%= render SurveyQuestions::OptionsBuilderComponent.new %>
</div>
