<div class="flex gap-x-2 oba-option-component">
  <div class="handle self-center cursor-move">
    <%= render("icons/grip_vertical_solid", classes: "w-4 h-4 fill-gray-500") %>
  </div>
  <label class="block text-sm font-medium leading-6 text-gray-900 self-center">Option:</label>
  <div class="flex-1">
    <%= text_field_tag(
      "question[content_attributes][options][]",
      @value,
      id: nil,
      class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand sm:text-sm sm:leading-6"
    ) %>
  </div>
  <% if @value.present? %>
    <div>
      <button type="button" class="oba-btn--sm oba-btn--danger" data-action="click->options-builder#removeField">
        Delete
      </button>
    </div>
  <% end %>
</div>