<div data-controller="options-builder">
  <div class="flex gap-x-2 mt-4 mb-2">
    <h3 class="h3">Options:</h3>

    <div class="flex-1">
      <button
        type="button"
        class="oba-btn--sm oba-btn--primary"
        data-action="click->options-builder#addField">
        Add Option
      </button>
    </div>
  </div>

  <div
    class="p-2 border bg-slate-50 space-y-4"
    data-controller="sortable"
    data-sortable-animation-value="150"
    data-sortable-handle-value=".handle"
    data-options-builder-target="fields">

    <% @options.each do |opt| %>
      <%= render Questions::OptionComponent.new(opt) %>
    <% end %>
  </div>

  <template data-options-builder-target="template">
    <%= render Questions::OptionComponent.new %>
  </template>
</div>