<% title "Available Regions" %>

<%= render Tables::TableComponent.new do |c| %>
  <% c.with_column("ID") %>
  <% c.with_column("Name") %>
  <% c.with_column("Web URL") %>

  <% c.with_tbody do %>
    <% @regions.each do |r| %>
      <tr>
        <td class="oba-td"><%= r.region_identifier %></td>
        <td class="oba-td font-medium"><%= link_to r.name, r, class: 'link' %></td>
        <td class="oba-td"><%= link_to r.web_url, r.web_url, class: 'link', target: "_blank" %>
      </tr>
    <% end %>
  <% end %>
<% end %>