<div class='row'>
  <div class='col sm-12'>
    <div class="alert alert-info" role="alert">
      Hey, are you looking for more information on the OneBusAway project, or for links to download the apps? <a href='http://www.onebusaway.org'>You'll find all of that and more at the onebusaway.org website</a>.
    </div>
  </div>
</div>

<div class='row'>
  <div class='col sm-12'>
    <h2>Available Regions</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Web URL</th>
        </tr>
      </thead>
      <tbody>
        <% @regions.each do |r| %>
          <tr>
            <td><%= r.region_identifier %></td>
            <td><%= link_to r.name, r %></td>
            <td><%= link_to r.web_url, r.web_url, target: "_blank" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>