<!DOCTYPE html>
<html>
  <%= render 'common/head' %>
  <body>
    <nav class="navbar navbar-dark bg-oba">
      <a class="navbar-brand" href="<%= root_path %>">
        OneBusAway
      </a>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
