!!! 5
%html
  %head
    = render 'common/head'
  %body
    = render 'common/navbar'
    %div{class: fluid_container ? "container-fluid" : "container"}
      = flash_messages
      = yield
      %p.small &copy; Open Transit Software Foundation